
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300');


.cardBody{
    font-size: 3em;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    flex-wrap: wrap;
    min-height: 30vh ;
    max-width: 20vw;
    background-color: rgb(138, 43, 226);
    /* box-shadow: -0.5em 0.5em  rgb(3, 29, 51); */
    border-radius: 0.8rem;
    padding: 2em;
    margin: 0rem 5rem;
    justify-content: center;
    align-items: center;
}

.cardBody:hover{ 
    background-color: rgb(113, 28, 211);
}

.animation{
    animation-name: colorChange;
  animation-duration: 3.5s
}

@keyframes colorChange {
    from {color: rgb(0, 0, 0, 0);}
    to {color: rgb(0, 0, 0, 1);}
}



@media(max-width: 1000px) {
    .cardBody{
        font-size: 1.2em;
        max-width: 35vw;
        max-height: 20vh;
    }
  }

  @media(max-width: 1800px) and (min-width:1025px) {
    .cardBody{
        font-size: 1.4em;
        max-width: 25vw;
        
    }
  }